.content {
  height: 100%;
  width: max-content;
}

.home {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(0, 29, 177, 0.96), rgba(0, 0, 177, 0.31), rgba(0, 0, 177, 0.58));
  background-size: 400% 400%;
  animation: gradient-home 20s ease infinite;
}

@keyframes gradient-home {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}

.text-block {
  display: flow;
  padding-left: 1em;
  padding-right: 1em;
}

.text-block h1 {
  color: #2b2b7e;
}

.text-block h2 {
  color: antiquewhite;
}