.active {
  text-decoration: underline;
}

.projects {
  overflow: hidden;
  background: linear-gradient(to bottom right, rgba(0, 29, 177, 0.96), rgba(0, 0, 177, 0.31), rgba(0, 0, 177, 0.58));
  background-size: 400% 400%;
  animation: gradient-projects 5s ease infinite;
}

@keyframes gradient-projects {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.projects h1 {
  padding-left: 1em;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  overflow: hidden;
}

@media (width >= 640px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    overflow: hidden;
  }

  .projects-list-elem {
    display: block;
    height: 400px;
    overflow: hidden;
  }
}

.projects-list-elem {
  display: block;
  height: 400px;
  overflow: hidden;
}

.projects-list-elem img {
  opacity: 50%;
  z-index: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(0);
  transition-duration: 0.3s;
}

.projects-list-elem img:hover, img:focus, img:active {
  transform: scale(110%);
  opacity: 70%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.projects-list h1 {
  color: black;
  z-index: 1;
  width: 100%;
  padding-left: 1em;
  position: absolute;
  overflow: hidden;
}

