.active {
  text-decoration: underline;
}

.no-active {

}

.projects {
  width: 100%;
  padding-left: 1em;
}

.projects-list {
  display: flow;
  height: 100%;
  width: max-content;
  padding-left: 1em;
}

/* Underline From Left */
.projects-list h2 {
  width: fit-content;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.projects-list h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000000;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.projects-list h2:hover:before, h2:focus:before, h2:active:before {
  right: 0;
}

.projects-list a {
  color: inherit;
  text-decoration: none;
}

