$app-blue: #0000B1;

nav {
    display: flex;
    background-color: $app-blue;
    align-items: stretch;
    padding-left: 1em;
    padding-right: 1em;
    height: 3em;
    //width: 100%;
}

nav .nav-elem-box {
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    width: 100%;
    padding: 1em 0 0.25em 0;
}

nav img {
    padding: 0.5em 0.5em;
    height: 2em;
    width: 2em;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav .nav-elem {
    @extend a;
    display: flow;
    justify-self: stretch;
    justify-content: space-around;
    justify-items: stretch;
    align-items: center;
    border-bottom: 0.125em;
    border-bottom-style: solid;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

nav .nav-border-enable {
    @extend .nav-elem;
    border-bottom-color: white;
}

nav .nav-border-disable {
    @extend .nav-elem;
    border-bottom-color: $app-blue;
}
