$app-blue: #0000B1;

nav {
    display: flex;
    background-color: $app-blue;
    align-items: stretch;
    padding: 0 32px;
    height: 67px;
}

nav .nav-elem-box {
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    width: 100%;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav .nav-elem {
    @extend a;
    display: flex;
    justify-self: stretch;
    justify-content: space-around;
    justify-items: stretch;
    align-items: center;
    border-bottom: 4px;
    border-bottom-style: solid;
    padding: 4px 0 0 0;
}

nav .nav-border-enable {
    @extend .nav-elem;
    border-bottom-color: white;
}

nav .nav-border-disable {
    @extend .nav-elem;
    border-bottom-color: $app-blue;
}
